body{
    margin: 0;
    padding: 0;
  }
  .table{
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
  }
  .btn{
    border: none;
  color: #a5aaad;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 10px;
  margin: 10px 50px;
  transition-duration: 0.4s;
  cursor: pointer;
  
  }
  .btn {
    background-color: white; 
    color: black; 
    border: 2px solid #a5aaad;
    float: right;
  }
  
  .btn:hover {
    background-color: #a5aaad;
    color: white;
  }